Repository adfinis/timed, pull requests merged in 2024-05, with the labels that each got.

#145 fix dev-setup keycloak not allowing /sso-login as redirect uri
  keycloak/config.json
Labels: bug, dev-setup

#146 chore(dev-setup): fix frontend using http://timed.local/auth
  frontend/config/environment.js
Labels: bug, frontend, dev-setup

#147 fix(frontend): use bolt icon instead of wand for magic link
  frontend/app/components/magic-link-btn/template.hbs
Labels: frontend, UX

#153 chore(dependabot): group frontend dependencies
  .github/dependabot.yml
Labels: dependencies, frontend

#181 chore(frontend): drop ember-export-application-global
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: dependencies, frontend, quality

#184 refactor(frontend): replace ember-pad with String.padStart
  frontend/app/components/attendance-slider/component.js
  frontend/app/components/sy-durationpicker/component.js
  frontend/app/components/sy-timepicker/component.js
  frontend/app/transforms/django-duration.js
  frontend/app/utils/format-duration.js
  frontend/app/utils/pad.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend, refactor

#170 fix(backend): move conftest.py out of wheel
  backend/conftest.py
  backend/timed/employment/tests/test_absence_type.py
  backend/timed/employment/tests/test_location.py
  backend/timed/employment/tests/test_public_holiday.py
  backend/timed/projects/tests/test_billing_type.py
  backend/timed/projects/tests/test_cost_center.py
  backend/timed/projects/tests/test_customer_assignee.py
  backend/timed/projects/tests/test_project_assignee.py
  backend/timed/projects/tests/test_task_assignee.py
  backend/timed/reports/tests/test_customer_statistic.py
  backend/timed/reports/tests/test_month_statistic.py
  backend/timed/reports/tests/test_project_statistic.py
  backend/timed/reports/tests/test_task_statistic.py
  backend/timed/reports/tests/test_user_statistic.py
  backend/timed/reports/tests/test_work_report.py
  backend/timed/reports/tests/test_year_statistic.py
Labels: backend, quality

#173 chore: drop outdated backend/compose.yaml
  backend/compose.yaml
Labels: backend, dev-setup

#193 chore(frontend): use ember-cli-mirage v3
  frontend/mirage/config.js
  frontend/mirage/factories/absence-balance.js
  frontend/mirage/factories/absence-credit.js
  frontend/mirage/factories/absence-type.js
  frontend/mirage/factories/absence.js
  frontend/mirage/factories/activity.js
  frontend/mirage/factories/attendance.js
  frontend/mirage/factories/billing-type.js
  frontend/mirage/factories/cost-center.js
  frontend/mirage/factories/customer-statistic.js
  frontend/mirage/factories/customer.js
  frontend/mirage/factories/employment.js
  frontend/mirage/factories/location.js
  frontend/mirage/factories/month-statistic.js
  frontend/mirage/factories/overtime-credit.js
  frontend/mirage/factories/project-assignee.js
  frontend/mirage/factories/project-statistic.js
  frontend/mirage/factories/project.js
  frontend/mirage/factories/public-holiday.js
  frontend/mirage/factories/report-intersection.js
  frontend/mirage/factories/report.js
  frontend/mirage/factories/task-statistic.js
  frontend/mirage/factories/task.js
  frontend/mirage/factories/user-statistic.js
  frontend/mirage/factories/user.js
  frontend/mirage/factories/worktime-balance.js
  frontend/mirage/factories/year-statistic.js
  frontend/mirage/serializers/application.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#199 chore(deps): upgrade ember-shepherd
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: dependencies

#212 fix(frontend): only show public-holidays of users location
  frontend/app/index/controller.js
Labels: frontend

#229 fix(backend): projects can't be created in django-admin
  backend/timed/projects/admin.py
Labels: bug, backend

#236 refactor(ci/workflows): use matrix for less code duplication
  .github/workflows/release.yaml
  .github/workflows/schedule.yaml
Labels: refactor
